@font-face{
    font-family: Work Sans;
    src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
    font-weight: 400 600 700;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

:root{
    --White: hsl(0, 100%, 100%);
    --Purple100: hsl(275, 100%, 97%);
    --Purple600: hsl(292, 16%, 49%);
    --Purple950: hsl(292, 42%, 14%);
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    background: var(--Purple100) url(../assets/images/background-pattern-mobile.svg) center top no-repeat;
    background-size: contain;
    padding-block: 30px;
}

#header{
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;
}

#header img{
    width: 25px;
}

#main-title{
    padding-inline: 30px;
    padding-block: 10px;
}

main{
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--White);
}

.flex-container{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.flex-container2{
    display: flex;
    flex-flow: column;
}

.questions{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.question-title{
    padding-right: 30px;
    color: var(--Purple950);
}

.questions button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.answers{
    padding-bottom: 20px;
    display: none;
}

.answer{
    line-height: 1.4em;
    color: var(--Purple600); 
}


