@font-face {
    font-family: '';
    src: url();
}
@font-face {
    font-family: '';
    src: url();
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

body{
    font-size: 16px;
}